
.top {
  &-container {
    // background-image: url(../images/top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 120px 0 130px;
  }
}